body {
  background-color: rgb(70, 142, 236);
  font: normal 20pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {  
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 600px;
  height: 420px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);

}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

div#res{
  text-align: center;
  
}
